# FPL Notebook Prototype and Lessons

Importing key library's required for the notebook

In [1]:
import requests
import json
import pandas as pd
from pprint import pprint

Below is defining the base url for FPL. There are a number of API's within this which are used to obtain information for FPL.

The first is *bootstrap-static* to obtain an overview of all data

In [2]:
# base fpl url for all FPL API endpoints
base_fpl_url = 'https://fantasy.premierleague.com/api/'

# get data from bootstrap-static endpoint
bootstrap_status_request_all = requests.get(base_fpl_url+'bootstrap-static/').json()

## Below is testing the **pprint** function to show simple and understandable data structures

### Testing Indent

The first set of testing shows how changing *indent* works

In [3]:
pprint(bootstrap_status_request_all, indent=2, depth=1, compact=True)   # depth has been kept at 1 to show high level structure and enable the 
                                                                        # notebook to be rendered on github. Change to different number to see nested arrays and data

{ 'element_stats': [...],
  'element_types': [...],
  'elements': [...],
  'events': [...],
  'game_settings': {...},
  'phases': [...],
  'teams': [...],
  'total_players': 9792439}

In [4]:
pprint(bootstrap_status_request_all, indent=10, depth=1, compact=True)  # depth has been kept at 1 to show high level structure and enable the 
                                                                        # notebook to be rendered on github. Change to different number to see nested arrays and data

{         'element_stats': [...],
          'element_types': [...],
          'elements': [...],
          'events': [...],
          'game_settings': {...},
          'phases': [...],
          'teams': [...],
          'total_players': 9792439}

### Testing Depth
We will now keep ***indent*** as 3 and test what occurs if we adjust the ***depth*** setting

In [5]:
# pprint(bootstrap_status_request_all, indent=3, depth=1) - Has been commented out as printing all the data creates rendering the notebook challenges on github

pprint(bootstrap_status_request_all, indent=2, depth=1) # Prints a compacted version of the JSON array received from requests

{ 'element_stats': [...],
  'element_types': [...],
  'elements': [...],
  'events': [...],
  'game_settings': {...},
  'phases': [...],
  'teams': [...],
  'total_players': 9792439}

In [6]:
# pprint(bootstrap_status_request_all, indent=3, depth=3) - Has been commented out as printing all the data creates rendering the notebook challenges on github

## Player data

We can see the JSON ***(bootstrap_status_request_all)*** contains a wide range of data for FPL. However the names aren't always intuitive. 

From an inspection, we can see the player data is all held within **elements** part of the JSON

So we will rename part the give elements JSON data an alias to store the players data.
The response is a list of more dictionaries â€” one per player.

In [7]:
# Storing only elements data for players_all
players_all = bootstrap_status_request_all['elements']

# Showing only player record in position 10
pprint(players_all[10])

{'assists': 2,
 'bonus': 0,
 'bps': 59,
 'chance_of_playing_next_round': None,
 'chance_of_playing_this_round': None,
 'clean_sheets': 1,
 'clean_sheets_per_90': 0.27,
 'code': 444145,
 'corners_and_indirect_freekicks_order': 2,
 'corners_and_indirect_freekicks_text': '',
 'cost_change_event': -1,
 'cost_change_event_fall': 1,
 'cost_change_start': -1,
 'cost_change_start_fall': 1,
 'creativity': '85.2',
 'creativity_rank': 38,
 'creativity_rank_type': 26,
 'direct_freekicks_order': 3,
 'direct_freekicks_text': '',
 'dreamteam_count': 0,
 'element_type': 3,
 'ep_next': '3.8',
 'ep_this': '3.3',
 'event_points': 5,
 'expected_assists': '0.53',
 'expected_assists_per_90': 0.14,
 'expected_goal_involvements': '1.32',
 'expected_goal_involvements_per_90': 0.35,
 'expected_goals': '0.79',
 'expected_goals_conceded': '2.99',
 'expected_goals_conceded_per_90': 0.81,
 'expected_goals_per_90': 0.21,
 'first_name': 'Gabriel',
 'form': '3.3',
 'form_rank': 90,
 'form_rank_type': 45,
 'goals_conceded': 4,
 'goals_conceded_per_90': 1.08,
 'goals_scored': 0,
 'ict_index': '27.2',
 'ict_index_rank': 33,
 'ict_index_rank_type': 24,
 'id': 12,
 'in_dreamteam': False,
 'influence': '59.8',
 'influence_rank': 132,
 'influence_rank_type': 45,
 'minutes': 333,
 'news': '',
 'news_added': None,
 'now_cost': 79,
 'now_cost_rank': 15,
 'now_cost_rank_type': 9,
 'own_goals': 0,
 'penalties_missed': 0,
 'penalties_order': 4,
 'penalties_saved': 0,
 'penalties_text': '',
 'photo': '444145.jpg',
 'points_per_game': '3.8',
 'points_per_game_rank': 90,
 'points_per_game_rank_type': 42,
 'red_cards': 0,
 'saves': 0,
 'saves_per_90': 0.0,
 'second_name': 'Martinelli Silva',
 'selected_by_percent': '10.3',
 'selected_rank': 45,
 'selected_rank_type': 15,
 'special': False,
 'squad_number': None,
 'starts': 4,
 'starts_per_90': 1.08,
 'status': 'a',
 'team': 1,
 'team_code': 3,
 'threat': '127.0',
 'threat_rank': 23,
 'threat_rank_type': 15,
 'total_points': 15,
 'transfers_in': 226265,
 'transfers_in_event': 16996,
 'transfers_out': 620556,
 'transfers_out_event': 64314,
 'value_form': '0.4',
 'value_season': '1.9',
 'web_name': 'Martinelli',
 'yellow_cards': 0}

### Converting Player data to tabular format using Pandas

In [8]:
# Setting number of max columns to be displayed
pd.set_option('display.max_columns', None)

In [9]:
# Creating players data frame from players_all

players_all_df = pd.json_normalize(players_all)


# Displaying all columns from players dataframe
players_all_df.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,id,in_dreamteam,news,news_added,now_cost,photo,points_per_game,second_name,selected_by_percent,special,squad_number,status,team,team_code,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,minutes,goals_scored,assists,clean_sheets,goals_conceded,own_goals,penalties_saved,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,influence_rank,influence_rank_type,creativity_rank,creativity_rank_type,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,expected_goals_per_90,saves_per_90,expected_assists_per_90,expected_goal_involvements_per_90,expected_goals_conceded_per_90,goals_conceded_per_90,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,0.0,0.0,232223,0,0,-1,1,0,4,0.0,0.0,0,Folarin,0.0,1,False,Transferred to Monaco,2023-08-31T08:55:15.272751Z,44,232223.jpg,0.0,Balogun,0.4,False,None,u,1,3,0,10024,0,41528,9382,0.0,0.0,Balogun,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,525,48,513,52,491,52,532,52,NaN,,NaN,,NaN,,0.00,0.0,0.00,0.00,0.00,0.00,546,88,525,52,534,53,234,41,0.00,0.0
1,NaN,NaN,58822,0,0,0,0,0,2,0.5,0.0,0,CÃ©dric,0.0,2,False,,None,40,58822.jpg,0.0,Alves Soares,0.3,False,None,a,1,3,0,5417,1047,13016,1620,0.0,0.0,CÃ©dric,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,386,140,367,136,334,116,394,141,NaN,,NaN,,NaN,,0.00,0.0,0.00,0.00,0.00,0.00,601,164,380,129,390,134,258,102,0.00,0.0
2,0.0,0.0,153256,0,0,-1,1,0,3,0.0,0.0,0,Mohamed,0.0,3,False,Knee injury - Unknown return date,2023-08-11T13:00:06.079379Z,44,153256.jpg,0.0,Elneny,0.1,False,None,i,1,3,0,3190,122,8224,673,0.0,0.0,M.Elneny,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.00,0.00,0.00,0.00,502,180,489,178,463,169,509,183,NaN,,NaN,,NaN,,0.00,0.0,0.00,0.00,0.00,0.00,513,272,501,181,511,185,449,146,0.00,0.0
3,NaN,NaN,438098,0,0,-1,1,0,3,4.2,3.7,4,FÃ¡bio,3.7,4,False,,None,54,438098.jpg,5.5,Ferreira Vieira,0.1,False,None,a,1,3,11,3754,1184,5557,729,0.7,2.0,FÃ¡bio Vieira,47,0,3,0,1,0,0,0,0,0,0,0,37,41.0,27.5,29.0,9.7,0,0.04,0.23,0.27,0.31,182,70,154,96,126,73,177,87,NaN,,NaN,,NaN,,0.08,0.0,0.44,0.52,0.59,1.91,141,90,71,35,26,14,383,120,0.00,0.0
4,NaN,NaN,226597,0,0,-2,2,0,2,1.5,1.0,2,Gabriel,1.0,5,False,,None,48,226597.jpg,1.3,dos Santos MagalhÃ£es,14.5,False,None,a,1,3,4,131159,19313,1631364,78870,0.2,0.8,Gabriel,114,0,0,0,1,0,0,0,0,0,0,0,23,34.4,2.2,0.0,3.6,1,0.00,0.01,0.01,1.71,215,86,300,107,610,227,286,106,NaN,,NaN,,NaN,,0.00,0.0,0.01,0.01,1.35,0.79,324,34,243,83,240,74,24,6,0.79,0.0

In [10]:
# Show some columns  about first five players using head function
players_all_df[['id', 'web_name', 'team', 'element_type']].head()

   id      web_name  team  element_type
0   1       Balogun     1             4
1   2        CÃ©dric     1             2
2   3      M.Elneny     1             3
3   4  FÃ¡bio Vieira     1             3
4   5       Gabriel     1             2

## Teams data

We can see the JSON ***(bootstrap_status_request_all)*** contains a wide range of data for FPL. 

From an inspection, we can see the Teams data is all held within **Teams** part of the JSON

So we will apply this to a variable and normalise it using a pandas function

In [11]:
# Storing only elements data for players_all
teams_all = bootstrap_status_request_all['teams']

# Showing only Team record in position 1 - Arsenal - you can see here the id matches the player from earlier
pprint(teams_all[0])

{'code': 3,
 'draw': 0,
 'form': None,
 'id': 1,
 'loss': 0,
 'name': 'Arsenal',
 'played': 0,
 'points': 0,
 'position': 0,
 'pulse_id': 1,
 'short_name': 'ARS',
 'strength': 4,
 'strength_attack_away': 1250,
 'strength_attack_home': 1250,
 'strength_defence_away': 1320,
 'strength_defence_home': 1210,
 'strength_overall_away': 1285,
 'strength_overall_home': 1230,
 'team_division': None,
 'unavailable': False,
 'win': 0}

### Converting Team data to tabular format using Pandas

In [12]:
# Creating Team data frame from teams_all

teams_all_df = pd.json_normalize(teams_all)


# Displaying all columns from players dataframe
teams_all_df.head()

,code,draw,form,id,loss,name,played,points,position,short_name,strength,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,4,None,False,0,1230,1285,1250,1250,1210,1320,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,3,None,False,0,1115,1175,1130,1190,1100,1160,2
2,91,0,None,3,0,Bournemouth,0,0,0,BOU,3,None,False,0,1060,1095,1050,1100,1060,1090,127
3,94,0,None,4,0,Brentford,0,0,0,BRE,3,None,False,0,1125,1205,1120,1220,1130,1190,130
4,36,0,None,5,0,Brighton,0,0,0,BHA,3,None,False,0,1165,1210,1120,1200,1210,1240,131

## Position Data

Same as before, identify the appropriate area from the JSON, rename and normalise into a dataframe

In [13]:
# Storing only elements data for players_all
positions = bootstrap_status_request_all['element_types']

# Creating Team positions frame from positions
positions_df = pd.json_normalize(positions)

# Displaying all columns from positions dataframe
positions_df.head()

,id,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,Goalkeepers,GKP,Goalkeeper,GKP,2,1,1,True,[12],85
1,2,Defenders,DEF,Defender,DEF,5,3,5,False,[],231
2,3,Midfielders,MID,Midfielder,MID,5,2,5,False,[],307
3,4,Forwards,FWD,Forward,FWD,3,1,3,False,[],91

## Finding Previous Weeks points for a player

In [14]:
# get data from 'element-summary/{PID}/' endpoint for PID=12 for martineli
player_points = requests.get(base_fpl_url + 'element-summary/12/').json()

# show top-level fields for player summary
pprint(player_points, depth=1)

{'fixtures': [...], 'history': [...], 'history_past': [...]}

In [15]:
# Store only previous history data for player_points

player_points_history = player_points['history']

pprint(player_points_history, depth=2)

[{'assists': 1,
  'bonus': 0,
  'bps': 23,
  'clean_sheets': 0,
  'creativity': '42.5',
  'element': 12,
  'expected_assists': '0.22',
  'expected_goal_involvements': '0.22',
  'expected_goals': '0.00',
  'expected_goals_conceded': '1.16',
  'fixture': 2,
  'goals_conceded': 1,
  'goals_scored': 0,
  'ict_index': '7.6',
  'influence': '25.4',
  'kickoff_time': '2023-08-12T12:00:00Z',
  'minutes': 85,
  'opponent_team': 16,
  'own_goals': 0,
  'penalties_missed': 0,
  'penalties_saved': 0,
  'red_cards': 0,
  'round': 1,
  'saves': 0,
  'selected': 1204797,
  'starts': 1,
  'team_a_score': 1,
  'team_h_score': 2,
  'threat': '8.0',
  'total_points': 5,
  'transfers_balance': 0,
  'transfers_in': 0,
  'transfers_out': 0,
  'value': 80,
  'was_home': True,
  'yellow_cards': 0},
 {'assists': 0,
  'bonus': 0,
  'bps': 4,
  'clean_sheets': 1,
  'creativity': '7.3',
  'element': 12,
  'expected_assists': '0.04',
  'expected_goal_involvements': '0.15',
  'expected_goals': '0.11',
  'expected_goals_conceded': '0.34',
  'fixture': 12,
  'goals_conceded': 0,
  'goals_scored': 0,
  'ict_index': '2.4',
  'influence': '0.0',
  'kickoff_time': '2023-08-21T19:00:00Z',
  'minutes': 69,
  'opponent_team': 8,
  'own_goals': 0,
  'penalties_missed': 0,
  'penalties_saved': 0,
  'red_cards': 0,
  'round': 2,
  'saves': 0,
  'selected': 1416545,
  'starts': 1,
  'team_a_score': 1,
  'team_h_score': 0,
  'threat': '17.0',
  'total_points': 3,
  'transfers_balance': 66471,
  'transfers_in': 122756,
  'transfers_out': 56285,
  'value': 80,
  'was_home': False,
  'yellow_cards': 0},
 {'assists': 0,
  'bonus': 0,
  'bps': 12,
  'clean_sheets': 0,
  'creativity': '8.3',
  'element': 12,
  'expected_assists': '0.11',
  'expected_goal_involvements': '0.65',
  'expected_goals': '0.54',
  'expected_goals_conceded': '0.53',
  'fixture': 21,
  'goals_conceded': 2,
  'goals_scored': 0,
  'ict_index': '9.6',
  'influence': '12.2',
  'kickoff_time': '2023-08-26T14:00:00Z',
  'minutes': 90,
  'opponent_team': 10,
  'own_goals': 0,
  'penalties_missed': 0,
  'penalties_saved': 0,
  'red_cards': 0,
  'round': 3,
  'saves': 0,
  'selected': 1386937,
  'starts': 1,
  'team_a_score': 2,
  'team_h_score': 2,
  'threat': '75.0',
  'total_points': 2,
  'transfers_balance': -55951,
  'transfers_in': 71354,
  'transfers_out': 127305,
  'value': 80,
  'was_home': True,
  'yellow_cards': 0},
 {'assists': 1,
  'bonus': 0,
  'bps': 20,
  'clean_sheets': 0,
  'creativity': '27.1',
  'element': 12,
  'expected_assists': '0.16',
  'expected_goal_involvements': '0.30',
  'expected_goals': '0.14',
  'expected_goals_conceded': '0.96',
  'fixture': 31,
  'goals_conceded': 1,
  'goals_scored': 0,
  'ict_index': '7.6',
  'influence': '22.2',
  'kickoff_time': '2023-09-03T15:30:00Z',
  'minutes': 89,
  'opponent_team': 14,
  'own_goals': 0,
  'penalties_missed': 0,
  'penalties_saved': 0,
  'red_cards': 0,
  'round': 4,
  'saves': 0,
  'selected': 1034988,
  'starts': 1,
  'team_a_score': 1,
  'team_h_score': 3,
  'threat': '27.0',
  'total_points': 5,
  'transfers_balance': -357493,
  'transfers_in': 15159,
  'transfers_out': 372652,
  'value': 80,
  'was_home': True,
  'yellow_cards': 0}]

### Create function to all previous gameweek history

In [16]:
# create function to get previous gameweek history for a player

def get_player_gameweek_history(player_id):

    # get data from fpl api
    player_gameweek_history_request = requests.get(base_fpl_url+  'element-summary/' + str(player_id) + '/').json()

    # extract 'history' data from response into dataframe
    player_gameweek_history_df = pd.json_normalize(player_gameweek_history_request['history'])

    return player_gameweek_history_df

In [17]:
# Showing a gameweek history for player 12 - Martineli
get_player_gameweek_history(12)

,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,minutes,goals_scored,assists,clean_sheets,goals_conceded,own_goals,penalties_saved,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,value,transfers_balance,selected,transfers_in,transfers_out
0,12,2,16,5,True,2023-08-12T12:00:00Z,2,1,1,85,0,1,0,1,0,0,0,0,0,0,0,23,25.4,42.5,8.0,7.6,1,0.00,0.22,0.22,1.16,80,0,1204797,0,0
1,12,12,8,3,False,2023-08-21T19:00:00Z,0,1,2,69,0,0,1,0,0,0,0,0,0,0,0,4,0.0,7.3,17.0,2.4,1,0.11,0.04,0.15,0.34,80,66471,1416545,122756,56285
2,12,21,10,2,True,2023-08-26T14:00:00Z,2,2,3,90,0,0,0,2,0,0,0,0,0,0,0,12,12.2,8.3,75.0,9.6,1,0.54,0.11,0.65,0.53,80,-55951,1386937,71354,127305
3,12,31,14,5,True,2023-09-03T15:30:00Z,3,1,4,89,0,1,0,1,0,0,0,0,0,0,0,20,22.2,27.1,27.0,7.6,1,0.14,0.16,0.30,0.96,80,-357493,1034988,15159,372652